output.quad
# Package Files #
*.jar
*.war
*.ear
*.class
target/*
*.7z

# Eclipse Files #
.classpath
.project
.settings/*

# Index of Surface Forms #
index/*
/target

# HTML CRAWLER INDEX #
htmlIndex/*
crawl/*
espnfcIndex/
imdbIndex/
DBpedia_top10instances.txt
cache/
htmlindex/
REX.log
crawlIMDB/
imdb-name-index/
imdb-title-index/
.DS_Store
crawlESPNFC/
crawlGoodRead/
crawlMEP/
espnfc-player-index/
espnfc-team-index/
goodreads-author-index/
goodreads-book-index/
meps-index/
imdb-title-index_old/
indizes.7z
surfaceform-index/
test-index/
indizes/
ESPNIndexes_old/
espnfc-team-index-new/
indexdbpedia_en/
ntFiles/
