
# Package Files #
*.jar
*.war
*.ear
*.class
target/*

# Eclipse Files #
.classpath
.project
.settings/*

# Index of Surface Forms #
index/*
/target

# HTML CRAWLER INDEX #
htmlIndex/*
crawl/*
espnfcIndex/
imdbIndex/
DBpedia_top10instances.txt
cache/
htmlindex/
REX.log
crawlIMDB/
imdb-name-index/
imdb-title-index/

